.welcomeCallToAction
  padding-top: 16px
  padding-left: 16px
  padding-right: 16px
  padding-bottom: 8px

  .container
    @media screen and (min-width: 600px)
      width: 90%

  .card
    min-height: 300px
    max-width: 400px

  .featuresList
    margin: 0 0 12px 0
    li
      width: 100%
      padding: 6px
      font-size: 16px
      border-bottom: 1px #4db6ac solid
      color: #e0f2f1

      &:last-child
        border-bottom: none

  h1
    margin-top: 20px
    margin-bottom: 0

  header
    h2
      margin: 0 !important
      padding: 16px

.featureBlock
  padding-left: 16px
  padding-right: 16px

  .featureIcon
    font-size: 7rem
    color: #ee6e73

  .featureCaption
    font-size: 2rem
    font-weight: 500
    margin-top: 5px
    margin-bottom: 0

  .featureDescription
    max-width: 200px
    margin: 0 auto

.welcomeScreenshotsContainer
  margin-left: 16px
  margin-right: 16px